<% content_for :title, StatusPage.model_name.human + t("navigation.edit")  %>

<h1 class="h4"><%= StatusPage.model_name.human + t("navigation.edit") %></h1>

<%= render "form", status_page: @status_page %>

<br>

<div>
  <%= link_to "Show this status_page", @status_page %> |
  <%= link_to "Back to status_pages", status_pages_path %>
</div>
