<div id="<%= dom_id incident %>">
  <p>
    <strong>Product:</strong>
    <%= incident.product_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= incident.title %>
  </p>

  <p>
    <strong>Started at:</strong>
    <%= incident.started_at %>
  </p>

</div>
