<% content_for :title, "Editing incident" %>

<h1>Editing incident</h1>

<%= render "form", incident: @incident %>

<br>

<div>
  <%= link_to "Show this incident", @incident %> |
  <%= link_to "Back to incidents", incidents_path %>
</div>
