<div id="<%= dom_id page %>">
  <p>
    <strong>Name:</strong>
    <%= page.name %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= page.url %>
  </p>

  <p>
    <strong>Organization:</strong>
    <%= page.organization_id %>
  </p>

</div>
