<% content_for :title, "Incidents" %>

<h1>Incidents</h1>

<div id="incidents">
  <% @incidents.each do |incident| %>
    <%= render incident %>
    <p>
      <%= link_to "Show this incident", status_page_incident_path(incident.status_page, incident) %>
    </p>
  <% end %>
</div>

<%= link_to "New incident", new_status_page_incident_path(@status_page) %>
