<% content_for :title, Incident.model_name.human + t("navigation.create")  %>

<h1 class="h4"><%= Incident.model_name.human + t("navigation.create") %></h1>

<%= render "form", incident: @incident %>

<br>

<div>
  <%= link_to "Back to status_pages", status_pages_path %>
</div>
